.search-field{
  text-align: center;
}

* {
  text-align: center;
}

h1 {
  font-size: 40px;
  background-color:bisque;
  margin-bottom: -2px;
}


.image {
  left: 0;
  right: 0;
  top: 2rem;
  max-width: 150px;
  height: auto;
  width: auto;
  max-height: 200px;
  display: block;
  display: contents;
}

.filtered-list {
  font-size: 20px
}

.search-bar {
  display:flex;
  flex-direction: column;
}

.form-container {
  max-width: 300px;
}
